/* =====MUSIC APP THEME===== */
.root {

    /* =====COLORS===== */

    -color-primary: #1DB954;
    -color-primary-hover: #1ED760;

    -color-secondary: #007AFF;

    -color-bg: #121212;
    -color-surface: #181818;
    -color-surface-2: #222222;

    -color-text: #FFFFFF;
    -color-text-secondary: #B3B3B3;

    -color-border: #333333;

    /* =====FONT===== */

    -fx-font-family: "Inter";

    -font-title: 24px;
    -font-body: 14px;
    -font-small: 12px;
}


/* =====GLOBAL===== */

.root {
    -fx-background-color: -color-bg;
}


/* =====CARD=====*/

.card {
    -fx-background-color: -color-surface;
    -fx-background-radius: 16px;
    -fx-padding: 16px;
}


/* =====TEXT===== */

.title {
    -fx-font-size: -font-title;
    -fx-font-weight: bold;
    -fx-text-fill: -color-text;
}

.body-text {
    -fx-font-size: -font-body;
    -fx-text-fill: -color-text-secondary;
}


/* =====BUTTON===== */

.button-primary {
    -fx-background-color: -color-primary;
    -fx-text-fill: white;
    -fx-background-radius: 12px;
    -fx-font-weight: bold;
}

.button-primary:hover {
    -fx-background-color: -color-primary-hover;
}

.button-outline {
    -fx-background-color: transparent;
    -fx-border-color: -color-border;
    -fx-border-radius: 12px;
    -fx-text-fill: -color-text;
}


/* =====INPUT===== */

.text-field {
    -fx-background-color: -color-surface-2;
    -fx-text-fill: -color-text;
    -fx-background-radius: 10px;
    -fx-border-color: -color-border;
    -fx-border-radius: 10px;
    -fx-prompt-text-fill: -color-text-secondary;
}

/* =====LIBRARY=====*/

.library-scroll .library-scroll .viewport, .horizontal-scroll, .horizontal-scroll .viewport {
    -fx-background-color: -color-bg;
}

.library-menu-title {
    -fx-text-fill: -color-text;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}

.library-menu-tabs {
    -fx-border-color: transparent transparent -color-border transparent;
    -fx-border-width: 2px;
    -fx-padding: 0px 0px 5px 0px;
}

.library-content-body {
    -fx-background-color: -color-bg;
}

.library-tab-item {
    -fx-text-fill: -color-text-secondary;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.library-tab-item.active {
    -fx-text-fill: -color-primary;
    -fx-border-color: transparent transparent -color-primary transparent;
    -fx-border-width: 2px;
    -fx-label-padding: 0px 0px 2px 0px ;
}

.library-section-title {
    -fx-text-fill: -color-text;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

.library-view-all-btn {
    -fx-text-fill: -color-primary;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.library-song-list-title {
    -fx-text-fill: -color-text;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.library-liked-songs-card {
    -fx-background-color: linear-gradient(to bottom right, #208e4d, #144929);
    -fx-background-radius: 24px;
}
.library-liked-songs-title {
    -fx-text-fill: #ffffff;
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}
.library-liked-songs-count {
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
}

/* =====ALBUM CARD=====*/
.album-card {
    -fx-background-color: -color-surface;
    -fx-background-radius: 16px;
    -fx-cursor: hand;
}
.album-card:hover {
    -fx-background-color: #282828;
}
.album-cover {
    -fx-background-color: -color-primary;
}
.album-title {
    -fx-text-fill: -color-text;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}
.album-sub {
    -fx-text-fill: -color-text-secondary;
    -fx-font-size: 13px;
}

/* =====TABLE ROW=====*/
.song-row {
    -fx-background-color: -color-surface-2;
    -fx-border-color: transparent transparent -color-border transparent;
}
.song-row:hover {
    -fx-background-color: #2a2a2a; /* Hiệu ứng hover đổi màu nền nguyên một hàng */
}
.song-title-active {
    -fx-text-fill: -color-text;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.song-text-muted {
    -fx-text-fill: -color-text-secondary;
    -fx-font-size: 13px;
}
.action-heart:hover {
    -fx-fill: -color-primary;
    -fx-cursor: hand;
}
.action-more:hover {
    -fx-fill: -color-text;
    -fx-cursor: hand;
}
